@import "./style.css";
/*********** About ************/
.about-wrapper{
    padding: 20px 0px;
    display: flex;
}

.about-introduction{
    padding: 140px 20px;
}

.about-introduction h4{
    font-size: 14px;
    font-weight: 600;
    color: #1d4b8f;
}

.about-introduction h2{
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-color);
}

.about-introduction a{
    padding: .5rem;
    background-color: transparent;
    border: 2px solid #1d4b8f;
    border-radius: 5px;
}

.about-introduction a:hover{
    background-color: #1d4b8f;
    color: #fff !important;
}

.about-content{
    padding: 60px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.about-content h2{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color) !important;
}

.about-content p{
    font-size: 14px;
    color: var(--text-color);
}

.about-mission{
    padding: 20px;
    background-color: var(--card-background);
    grid-row: 1/2;
    margin: 10px;
    border-radius: 10px;
}

.about-vision{
    padding: 20px;
    background-color: var(--card-background);
    grid-row: 2/-1;
    margin: 10px;
    border-radius: 10px;
}

.about-story{
    padding: 20px;
    background-color: var(--card-background);
    grid-row: 1/2;
    margin: 10px;
    border-radius: 10px;
}

.about-work{
    padding: 20px;
    background-color: var(--card-background);
    grid-row: 2/-1;
    margin: 10px;
    border-radius: 10px;
}

/************* Blog Counter **************/
.blogcounter-wrapper{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
}

.blogcounter-content{
    width: 20rem;
    height: 12rem;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.blogcounter-content h1{
    color: #fff;
}

.blogcounter-content h4{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

/************* Partner **************/
.partner-wrapper{
    padding: 150px;
    background-color: var(--background);
    margin-top: 60px;
    color: var(--text-color);
}


@media only screen and (max-width: 1024px) {

}



@media only screen and (max-width: 500px) {

}