.banner-wrapper{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    padding: 100px 50px 50px;
}
.banner-image{
    border-radius: 10px;
    width: 700px;
    height: 450px;
    box-shadow: var(--box-shadow-md);
}
.banner-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
}
.banner-content h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--text-color);
    font-family: "Trirong", serif;
}
.banner-content span{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: 'Lora', serif;
}
.banner-content a{
    color: #fff !important;
    background: var(--primary-color);
    padding: 9px;
    width: 200px !important;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lora', serif;
}

.banner-content a:hover{
    background: var(--secondary-color);
}


@media only screen and (max-width: 1024px) {
    .banner-wrapper{
        padding: 100px 0px 50px;
    }
    .banner-image{
        width: 550px;
        height: 350px;
    }
    .banner-content{
        padding: 10px 40px;
    }
    .banner-content h2{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .banner-content span{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .banner-content a{
        padding: 8px;
        font-size: 14px;
    }
}



@media only screen and (max-width: 900px) {
    .banner-wrapper{
        padding: 100px 0px 50px;
        flex-direction: column;
    }
    .banner-image{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .banner-content{
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-content h2{
        font-size: 36px;
    }
    .banner-content span{
        font-size: 12px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 390px) {
    .banner-content h2{
        font-size: 30px;
    }
}