/**************** Blog card **************/
.bloglist-wrapper{
    display: flex;
    flex-direction: column;
}
.blog-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 40px;
}
.load-more{
    text-align: center;
    margin-bottom: 20px;
}
.blog-card{
    width: 22rem;
    height: 28rem;
    background:#fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.blog-content{
    padding: 20px;
}

.blog-content .blog-shortline{
    font-size: 14px;
    font-weight: 400;
}

.blog-details{
    padding: 40px 180px;
}

.blog-details p{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px !important;
    letter-spacing: .3px !important;
    color: #222222;
}

.blog-details-footer{
    display: flex;
    justify-content: space-between;
}
