/************** Catagory *******************/

.cetagory-wrapper{
    margin: 40px 0px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cetagory-card{
    min-width: 100%;
    height: 15rem;
    padding: 10px;
}

.card-focus{
    grid-column: 1;
    grid-row: 1/-1;
    width: 50rem;
    height: 30rem;
}

.slider-item-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.catagory-poster{
    height: 100%;
}

.catagory-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.end-card{
    grid-column: 2;
}

.catagory-content{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #00000063;
}

.catagory-context{
    width: 100%;
    max-height: 80%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.catagory-context h2{
    color: #f1f1f1;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Lora', serif;
}

.catagory-menu-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px 0px;
}

.catagory-menu-wrapper h2{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lora', serif;
    color: var(--text-color);
    margin-bottom: 0;
}

.catagories{
    display: flex;
    justify-content: space-evenly;
}

.catagory{
    font-size: 14px;
    font-family: "Trirong", serif;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    margin-right: 5px;
    text-decoration: none;
}

.catagory:hover{
    color: #fff;
}

.catagory-common{
    background: #4c4747;
}

.catagory-Nature{
    background: #35a7a7;
}

.catagory-Technology{
    background: #0c1de5e8;
}

.catagory-Entertainment{
    background: #e52954;
}

.catagory-History{
    background: #687783;
}

.catagory-Health{
    background: #1d734b;
}

@media only screen and (max-width: 1024px) {
    .cetagory-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) !important;
    }

    .card-focus{
        width: 100%;
        grid-row: 1;
    }

    .cetagory-card{
        height: 15.8rem;
    }
    
    .cetagory-card{
        margin: 10px 0px;
    }

    .end-card{
        grid-column: 1/-1;
    }

}



@media only screen and (max-width: 900px) {
    .cetagory-wrapper{
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(5, 1fr);
    }
    .cetagory-card{
        height: 12.8rem;
    }
    .catagory-context h2{
        font-size: 14px;
    }
}


@media only screen and (max-width: 768px) {
    .catagory{
        font-size: 12px;
    }
    .cetagory-card{
        height: 10.8rem;
    }
}


@media only screen and (max-width: 500px) {
    .cetagory-wrapper{
        padding: 50px 20px;
    }
    .catagories{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .catagory-context h2{
        font-size: 12px;
    }
}