/*************** Comment ******************/

.comment-wrapper{
    padding: 40px 20px;
    margin: 40px 0px;
}

.comment-header{
    text-align: center;
    margin-bottom: 10px;
}

.comment-header h2{
    font-size: 26px;
    font-weight: 700;
    font-family: "Trirong", serif;
    padding: 20px;
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

.comment-section{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.single-comment-wrapper{
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

.single-comment-header{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentetor-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.single-comment-header h2{
    font-size: 20px;
    font-weight: 700;
}

.single-comment-content{
    padding: 0px 40px 20px;
}

.single-comment-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.comment-wrapper button{
    font-size: 12px;
    font-family: "Trirong", serif;;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color);
    width: '100px'; 
    margin-right: 10px;
    border-radius: 5px;
    padding: 7px 20px;
    border: 0;
}

.comment-wrapper button:hover{
    background: var(--secondary-color);
}

.comment-wrapper .button-cencle{
    color: #fff;
    background: hsl(4, 89%, 38%);
}

.comment-wrapper .button-cencle:hover{
    background: hsl(4, 92%, 47%);
}


.commentform-wrapper{
    padding: 0px 20px;
}

.comment-form{
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
}

.comment-form h4{
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

.form-control{
    background-color: #f0f2f5;
    height: 40px;
}


@media only screen and (max-width: 1024px) {
    .commentform-wrapper{
        padding: 0px;
    }
    .single-comment-wrapper{
        margin: 0px;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 500px) {
    .comment-section{
        margin-top: 10px;
    }
}