@import "./style.css";
/************** Query *************/
.query-wrapper{
    padding: 70px 0px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.query-introduction{
    padding: 20px 40px;
    grid-column: 1/2;
}

.query-introduction h6{
    font-size: 14px;
    font-weight: 700;
    color: #1d4b8f;
    font-family: 'Lora', serif;
}

.query-introduction h2{
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--text-color);
    font-family: "Trirong", serif;
}

.query-introduction a{
    padding: .5rem;
    background-color: transparent;
    border: 2px solid #1d4b8f;
    border-radius: 5px;
}

.query-introduction a:hover{
    background-color: #1d4b8f;
    color: #fff !important;
}

.query-form{
    padding: 20px 40px;
    grid-column: 2/-1;
}

.query-form label{
    color: var(--text-color);
    text-align: 14px;
    font-weight: 600;
    font-family: "Trirong", serif;
}

.query-form a{
    color: #fff !important;
    background: #1d4b8f;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
    text-decoration: none;
    cursor: pointer;
}

.query-form a:hover{
    background: #2b5ca5;
}


/************** Contact *************/
.contact-wrapper{
    padding: 70px 0px;
    display: flex;
    justify-content: space-around;
}
.contact-content{
    background: var(--card-background);
    padding: 10px;
    border-radius: 5px;
    width: 18rem;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.contact-content:hover{
    box-shadow: var(--box-shadow);
}

.contact-icon{
    width: 50px;
    height: 50px;
    color: var(--text-color);
}

.contact-context{
    text-align: left;
}

.contact-context h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
    color: var(--text-color);
}

.contact-context p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--text-color);
}
/************** Career *************/
.career-wrapper{
    width: 100%;
    padding: 70px 0px;
    display: flex;
    justify-content: space-around;
}

.career-introduction{
    width: 50%;
    padding: 60px 80px;
}

.career-introduction h6{
    font-size: 14px;
    font-weight: 600;
    color: #1d4b8f;
    font-family: 'Lora', serif;
}

.career-introduction h2{
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--text-color);
    font-family: "Trirong", serif;
}

.career-introduction a{
    padding: .5rem;
    background-color: transparent;
    border: 2px solid #1d4b8f;
    border-radius: 5px;
}

.career-introduction a:hover{
    background-color: #1d4b8f;
    color: #fff !important;
}

.career-test{
    width: 50%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.career-test .form-floating{
    position: revert !important;
}

.career-test h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-color);
    font-family: 'Lora', serif;
}

.career-textinput{
    width: 30rem;
    height: 14rem !important;
    background: #fff;
    border: 2px solid #e9e9e9;
    margin-bottom: 20px;
}

.career-test a{
    color: #fff !important;
    background: #1d4b8f;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
    width: 200px;
    text-decoration: none;
    cursor: pointer;
}

.career-test a:hover{
    background: #2b5ca5;
}


@media only screen and (max-width: 1440px) {
    .query-wrapper{
        padding: 40px 0px;
    }
    .contact-wrapper{
        padding: 40px 0px;
        display: flex;
        justify-content: space-around;
    }
    .contact-content{
        width: 16rem;
    }
}

@media only screen and (max-width: 1024px) {
    .query-wrapper{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .query-introduction{
        padding: 40px;
        grid-column: 1/-1;
    }

    .query-form{
        padding: 20px 40px;
        grid-column: 1/-1;
    }

    .contact-wrapper{
        padding: 40px;
        flex-wrap: wrap !important;
    }

    .contact-content{
        margin: 10px;
    }

    .career-wrapper{
        padding: 30px 40px;
        margin-bottom: 20px;
    }

    .career-introduction{
        padding: 30px 0px;
    }

    .career-test{
        padding: 0px 20px;
    }

    .career-textinput{
        width: 100%;
    }
}


@media only screen and (max-width: 900px) {
    .query-wrapper{
        padding: 40px 0px;
        height: 800px;
    }
    .contact-wrapper{
        padding: 40px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .contact-content{
        margin: 10px;
    }

    .career-wrapper{
        padding: 30px 40px;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .career-introduction{
        width: 100%;
        padding: 30px 0px;
    }

    .career-test{
        width: 100%;
        padding: 20px 0px;
    }

    .career-textinput{
        width: 100%;
    }
}

@media only screen and (max-width: 390px) {
    .query-wrapper{
        padding: 20px 0px;
    }
    .contact-wrapper{
        padding: 50px 0px;
    }
    .contact-content{
        width: 18rem;
    }
    .career-wrapper{
        padding: 20px 20px;
    }
    .career-introduction h2{
        margin-bottom: 10px;
        font-size: 32px;
    }
    .career-textinput{
        height: 10rem !important;
    }
}