/************** Flash Message ***************/
.message-wrapper{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}

.message-wrapper h4{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lora', serif;
    color: #f1f1f1 !important;
}

.success-message{
    background-color: #19ca8e;
}

.failed-message{
    background-color: rgb(223, 79, 79);
}

.message-icon{
    color: #f1f1f1;
    padding: 0px 10px;
    font-size: 16px;
    cursor: pointer;
}