.preloader-wrapper{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: #1d4b8f;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.preloader-wrapper .Typewriter{
    font-size: 42px;
    font-weight: 800;
    overflow: hidden;
    color: #fff;
}