@import "./style.css";
/************ Quote **************/
.allQuote-wrapper{
    padding: 80px 120px;
}

.quote-wrapper{
    background-color: var(--card-background);
    margin: 20px 40px;
    border-radius: 10px;
    padding: 20px;
}

.quote-header{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quote-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.quote-header h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--text-color);
}

.quote-content{
    padding: 0px 40px 20px;
}

.quote-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--text-color);
}


@media only screen and (max-width: 1024px) {
    .allQuote-wrapper{
        padding: 80px 30px;
    }
}



@media only screen and (max-width: 500px) {
    .allQuote-wrapper{
        padding: 80px 0px;
    }
}