.bannerSkeletons-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 50px 50px;
}

.bannerSkeletons-Wrapper h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    font-family: "Trirong", serif;
}

.skeleton{
    background-color: rgb(185, 185, 185);
}

.flex-row{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
    width: 40% !important;
}

.skeleton.banner-image{
    border-radius: 10px;
    width: 60%;
    height: 450px;
    margin-bottom: 5px;
    margin: 0px 10px;
    box-shadow: none;
}

.skeleton.blog-image{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.skeleton.banner-tilte{
    height: 6.75rem;
    margin: 40px 10px;
    border-radius: 7px;
}

.skeleton.blog-tilte{
    height: 3.75rem;
    margin: 10px 0px 30px 0px;
    border-radius: 7px;
}

.skeleton.title-lg{
    height: 2.25rem;
    border-radius: 7px;
}

.skeleton.title-md { 
    height: 2.25rem;
    margin-bottom: 5px;
    margin: 0px 10px;
    border-radius: 10px;
}

.skeleton.title-sm { 
    height: 1.25rem;
    margin-bottom: 5px;
    margin: 0px 10px;
    border-radius: 10px;
}

.skeleton.button {
    height: 3.5rem;
    margin: 0px 10px;
    border-radius: 10px;
}

.skeleton.width-100 {
    width: 100%;

}
.skeleton.width-80 {
    width: 80%;
}

.skeleton.width-70 {
    width: 70%;
}

.skeleton.width-60 {
    width: 60%;
}

.skeleton.width-50 {
    width: 50%;
}

.skeleton.width-40 {
    width: 40%;
}

.skeleton.width-30 {
    width: 30%;
}


.skeleton.blog-image, .skeleton.blog-tilte, .skeleton.banner-image, .skeleton.banner-tilte, 
.skeleton.button, .skeleton.title-lg, .skeleton.title-md, .skeleton.title-sm{
    animation: shimmer 1.2s infinite linear;
    background-image: linear-gradient(
        90deg, #e0e0e0 0px, #f0f2f3 200px, #e0e0e0 400px
    );
    background-size: 1200px;
}

@keyframes shimmer {
    0% {
      background-position: -400px;
    }
    50% {
      background-position: 700px;
    }
    100% {
      background-position: 700px;
    }
  }

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 500px) {
    .skeleton.banner-image{
        width: 100%;
        height: 200px;
        margin: 0px;
    }

    .flex-col{
        width: 100% !important;
    }
    
    .skeleton.banner-tilte{
        height: 4.25rem;
        margin: 20px 0px;
        border-radius: 10px;
    }

    .skeleton.title-md { 
        height: 2.25rem;
        margin-right: 5px;
        margin-left: 0px;
        border-radius: 10px;
    }

    .skeleton.button {
        height: 2.75rem;
        margin: 0px;
        border-radius: 10px;
    }
}
