.body{
    background: #f0f2f5;
}

/****** Navigation CSS *******/
.navigation-wrapper{
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.navigation-header{
    font-size: 32px;
    color: #1d4b8f;
    font-weight: 700;
    text-decoration: none;
}

.navigation-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navigation-link{
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.navigation-link:hover{
    color: #1d4b8f;
}

.navbar-collapse{
    justify-content: space-between !important;
}

.navigation-menu{
    width: 100%;
}

.banner-wrapper{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    padding: 50px;
}
.banner-image{
    border-radius: 10px;
    width: 700px;
    height: 450px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
}
.banner-content h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}
.banner-content span{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-content a{
    color: #fff !important;
    background: #1d4b8f;
    padding: 7.5px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

.banner-content a:hover{
    background: #2b5ca5;
}

/*********** Related Blogs ****************/
.relatedblog-wrapper{
    border: 2px solid #d7d8df;
    padding: 30px;
    margin: 60px 0px;
}
.relatedblog-header{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: -75px;
}
.relatedblog-header h3{
    background: #f0f2f5;
    border: 2px solid #d7d8df;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
}

.relatedblog-cards{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
}

.relatedblog-card{
    width: 20rem;
    background: #fff;
    border-radius: 10px;
}

.relatedblog-poster img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.relatedblog-content{
    padding: 10px 10px;
}

.relatedblog-content h2{
    font-size: 24px;
    font-weight: 500;
}

/**************** Blog card **************/
.blog-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 40px;
}
.blog-card{
    width: 22rem;
    height: 28rem;
    background:#fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.blog-content{
    padding: 20px;
}

.blog-content .blog-shortline{
    font-size: 14px;
    font-weight: 400;
}

.blog-details{
    padding: 40px 180px;
}

.blog-details p{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px !important;
    letter-spacing: .3px !important;
    color: #222222;
}

.blog-details-footer{
    display: flex;
    justify-content: space-between;
}

/************** Gobal CSS ******************/
.blog-heading h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.blog-info p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

/************** Icons ****************/
.icon-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.icon{
    margin: 0px 10px 0px 0px;
    font-size: 30px;
}
.icon-facebook{
    color: #3b5998;
}
.icon-youtube{
    color: #c4302b;
}
.icon-twitter{
    color: #00acee;
}
.icon-drive{
    color: #fcd10f;
}


/************** Catagory *******************/

.catagory-wrapper{
    margin: 40px 0px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.catagory-card{
    width: 100%;
    height: 10.8rem;
    margin: 10px;
}

.card-focus{
    grid-column: 1/3;
    grid-row: 1/-1;
    width: 50rem;
    height: 35rem;
}

.catagory-poster{
    height: 100%;
}

.catagory-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.end-card{
    grid-column: 1/-1;
}

.catagory-content{
    margin-top: -50px;
    padding: 0px 20px;
}

.catagory-menu-wrapper{
    display: flex;
    justify-content: start;
    margin: 30px 0px;
}

.catagory-menu-wrapper h2{
    font-size: 20px;
    font-weight: 500;
}

.catagories{
    display: flex;
    justify-content: space-evenly;
}

.catagory{
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
}

.catagory-common{
    background: #4c4747;
}

.catagory-nature{
    background: #25b1b1;
}

.catagory-technology{
    background: #3545ffe8;
}

.catagory-entertainment{
    background: #ff4444;
}

.catagory-history{
    background: #7f8b94;
}

.catagory-health{
    background: #07854a;
}


/*************** Comment ******************/

.comment-wrapper{
    padding: 0px 120px;
    margin: 40px 0px;
}

.single-comment-wrapper{
    background-color: #fff;
    margin: 20px 40px;
    border-radius: 10px;
    padding: 20px;
}

.single-comment-header{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentetor-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.single-comment-header h2{
    font-size: 20px;
    font-weight: 700;
}

.single-comment-content{
    padding: 0px 40px 20px;
}

.single-comment-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.commentform-wrapper{
    padding: 0px 80px;
    margin: 80px 0px;
}

.comment-form{
    padding: 40px 80px;
}

.form-control{
    background-color: #f0f2f5;
    height: 40px;
}

/************ Footer ************/
.footer-wrapper{
    background: #1d4b8f;
    width: 100%;
    height: 300px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-header{
    padding: 40px;
    width: 400px;
}

.footer-header h2{
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}

.footer-header p{
    font-size: 15px;
    color: #fff;
}

.footer-navbar{
    padding: 40px 10px;
    height: 100%;
    width: 200px;
}

.footer-navbar h2{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.footer-navbar ul{
    padding: 0px;
}

.footer-navbar ul>li{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.footer-catagory{
    padding: 40px 10px;
    height: 100%;
    width: 200px;
}

.footer-catagory h2{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.footer-catagory ul{
    padding: 0px;
}

.footer-catagory ul>li{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.footer-newsletter{
    padding: 40px 10px;
    height: 100%;
    width: 400px;
}

.footer-newsletter h4{
    font-size: 16px;
    font-weight: 400;
    color: #dddddd;
}

.newsletter{
    display: flex;
    background: #f8f9fa;
    padding: 2px;
    border-radius: 10px;
}

.newsletter-input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background: transparent;
    padding: 10px;
}

.newsletter input:focus {
    outline: none !important;
  }

.newsletter-button{
    border: none;
    border-radius: 10px;
    background: #1d4b8f;
    color: #fff;
}

.newsletter-button:hover{
    background: #2b5ca5;
}


/********** Box Shadow For Hover *************/
.onHover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}