:root{
    --background: #f0f2f5;
  }
  
  [data-theme='dark']{
    --background: #161616;
  }
  

.body{
    background: var(--background);
}


.banner-wrapper{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    padding: 50px;
}
.banner-image{
    border-radius: 10px;
    width: 700px;
    height: 450px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
}
.banner-content h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}
.banner-content span{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-content a{
    color: #fff !important;
    background: #1d4b8f;
    padding: 9px;
    width: 200px !important;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0px;
    text-decoration: none;
}

.banner-content a:hover{
    background: #2b5ca5;
}

/*********** YoutubeBanner ****************/
.youtubeBanner-wrapper{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    padding: 50px;
}

.youtubeBanner-content{
    padding: 60px 0px;
}

.youtubeBanner-wrapper h2{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

.youtubeBanner-wrapper a{
    color: #fff !important;
    background: #e00e18;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
}


/************** Gobal CSS ******************/
.blog-heading{
    text-decoration: none;
    color: #161616;
}
.blog-heading h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.blog-info{
    display: flex;
    margin: 10px 0px;
}

.blog-info p{
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0px; 
}

/************** Icons ****************/
.icon-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.icon{
    margin: 0px 10px 0px 0px;
    font-size: 30px;
}
.icon-facebook{
    color: #3b5998;
}
.icon-youtube{
    color: #c4302b;
}
.icon-twitter{
    color: #00acee;
}
.icon-drive{
    color: #fcd10f;
}
.icon-footer{
    color: #fff;
}


/********** AdSpace Component design *********/
.adSpace-wrapper{
    height: 150px;
    border-radius: 10px;
    background: #fff;
    margin: 40px 40px;
}



/********** Box Shadow For Hover *************/
.onHover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.nodisplay{
    display: none;
}

.display{
    display: contents;
}





/************** React slick slider *************/
.slick-slider{
    height: 100% !important;
}
.slick-slide div{
    height: 100% !important;
}
.slick-list{
    height: 100% !important;
}
.slick-track{
    height: 100% !important;
}
.slick-arrow{
    display: none !important;
}
.slick-dots{
    bottom: 20px !important;
}



.owl-nav{
    display: none;
}

.owl-dots{
    display: none;
}