.body{
    background: #f0f2f5;
}

.banner-wrapper{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    padding: 50px;
}
.banner-image{
    border-radius: 10px;
    width: 700px;
    height: 450px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
}
.banner-content h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}
.banner-content span{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-content a{
    color: #fff !important;
    background: #380186;
    padding: 7.5px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

.banner-content a:hover{
    background: #602a97;
}

/**************** Blog card **************/
.blog-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 40px;
}
.blog-card{
    width: 22rem;
    height: 28rem;
    background:#fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.blog-content{
    padding: 20px;
}

.blog-content .blog-shortline{
    font-size: 14px;
    font-weight: 400;
}

/************** Gobal CSS ******************/
.blog-heading h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.blog-info p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

/************** Icons ****************/
.icon-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.icon{
    margin: 0px 10px 0px 0px;
    font-size: 30px;
}
.icon-facebook{
    color: #3b5998;
}
.icon-youtube{
    color: #c4302b;
}
.icon-twitter{
    color: #00acee;
}


/************** Catagory *******************/
.catagory{
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.catagory-nature{
    background: #008080;
}

.catagory-entertainment{
    background: #ff4d00;
}

.catagory-history{
    background: #65737e;
}

.catagory-health{
    background: #008080;
}