.usermodal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
  
.usermodal-content{
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.userLogin-modal{
    width: 30%;
    height: auto;
}

.userRegister-modal{
    width: 30%;
    height: 90%;
    overflow: scroll;
}

.usermodal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usermodal-header h2{
    font-size: 20px;
    font-weight: 700;
    font-family: "Trirong", serif;
    margin: 0;
}

.usermodal-body{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.userLogin-form{
    margin-bottom: 20px;
    width: 100%;
}

.divider-line{
    width: 70%;
    height: 2px;
    background: #c0c0c0;
    margin: 10px;
}

.userlogin-btn{
    color: #fff !important;
    background: #1d4b8f;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lora', serif;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.userlogin-btn:hover{
    background: #2b5ca5;
}

.userregister-btn{
    color: #fff !important;
    background: #1d788f;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lora', serif;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.userregister-btn:hover{
    background: #2b7ea5;
}

.usermodal-body h4{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Lora', serif;
    color: #1d4b8f;
}

@media only screen and (max-width: 1440px) {
    .userLogin-modal{
        width: 40%;
        height: auto;
    }

    .userRegister-modal{
        width: 40%;
        height: 90%;
        overflow: scroll;
    }
}

@media only screen and (max-width: 1024px) {
    .userLogin-modal{
        width: 45%;
        height: auto;
    }

    .userRegister-modal{
        width: 45%;
        height: 90%;
        overflow: scroll;
    }
}

@media only screen and (max-width: 900px) {
    .userLogin-modal{
        width: 60%;
        height: auto;
    }

    .userRegister-modal{
        width: 60%;
        height: 90%;
        overflow: scroll;
    }
}
@media only screen and (max-width: 390px) {
    .userLogin-modal{
        width: 90%;
        height: 80%;
    }

    .userRegister-modal{
        width: 90%;
        height: 90%;
        overflow: scroll;
    }
}